@import 'mixins';

nav {
    @include wrapper;
    a,
    a:visited {
        color: $ece-black;
    }

    @include bp(medium) {
        display: flex;
        justify-content: space-between;
        margin-bottom: -100px;
        z-index: 2;

        a,
        a:visited {
            color: white;
        }
    }

    .togglewrap {
        display: grid;
        grid-template-columns: ms(1) 1fr auto 1fr ms(1);

        img {
            height: 80px;
        }

        button {
            @include fa(list, ms(1), $ece-black);
        }

        a {
            grid-column: 3;
        }

        @supports not (grid-template-areas: inherit) {
            display: flex;
            justify-content: space-between;
        }

        @include bp(medium) {
            display: none;
        }
    }

    .logo {
        display: none;

        img {
            height: 100px;
        }

        @include bp(medium) {
            display: block;
            filter: brightness(0) invert(1);
        }
    }

    #menu {

        &.toggled {
            display: none;
        }

        ul {
            @include menu-base;
            @include menu-direction("vertical");

            &.main {
                @include bp(medium) {
                    align-items: center;
                    justify-content: center;
                }
            }

            &.child {
                @include menu-nested;
                @include bp(medium) {
                    margin-left: 0;
                }
            }
        }

        @include bp(medium) {
            &.toggled {
                display: flex;
            }
            ul.main {
                @include menu-direction("horizontal"); // @include dropdown-menu-direction;
            }
        }
    }
}

@include bp(medium) {
    .dropbtn {
        color: $white;
        font-family: MuseoSans;
        font-weight: 500;
        padding: 16px;
        font-size: 20px;
        border: none;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        ;
        /* Safari */
        transition: all 0.3s ease;
        ;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content {

        a,
        a:visited {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        color: $ece-black;
    }
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 11px;
}

#nav-icon3 span:nth-child(4) {
    top: 22px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 35px;
    height: 30px;
    position: relative;
    margin: 25px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
