
//.togglewrap(data-responsive-toggle="example-menu", data-hide-for="medium")
    div(data-toggle="example-menu")#toggle
        button(class="menu-icon", type="button") ho
        .title-bar-title Menu

#menu
    ul(class="main")
        li(*ngFor="let item of menu")
            a(routerLink="{{item.path}}") {{item.label}}
