nav
    //the mobile menu header
    .togglewrap
        //button((click)="this.toggleMenu = !this.toggleMenu", type="button")
        <div id="nav-icon3" (click)="this.toggleMenu = !this.toggleMenu" [ngClass]="toggleMenu ? 'untoggled' : 'open'">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        a((click)="this.toggleMenu = true", routerLink="")
            img(src="{{ 'parts/menu/logo_text1' | cd:'h_80' }}")

    //the desktop menu logo
    a(class="logo", (click)="this.toggleMenu = true", routerLink="")
        img(src="{{ 'parts/menu/logo_text1' | cd:'h_150' }}")

    //the menu
    #menu([ngClass]="toggleMenu ? 'toggled' : 'untoggled'")
        ul.main
            li.dropdown(*ngFor="let item of menu")
                a.dropbtn(routerLink="{{item.path}}", (click)="this.toggleMenu = true") {{item.label}}

                ul(class="child", *ngIf="item.children")
                    div.dropdown-content
                        li(*ngFor="let child of item.children")
                            a(routerLink="{{child.path}}", (click)="this.toggleMenu = true") {{child.label}}
    
