nav
    .togglewrap(data-responsive-toggle="menu", data-hide-for="medium")
        button(data-toggle="menu", class="menu-icon", type="button")#toggle
        img(src="{{ 'parts/menu/logo_text' | cd:'h_80' }}")

    #menu
        ul.main
            li(*ngFor="let item of menu")
                a(routerLink="{{item.path}}") {{item.label}}

                ul(class="child", *ngIf="item.children")
                    li(*ngFor="let child of item.children")
                        a(routerLink="{{child.path}}") {{child.label}}
