nav
    .togglewrap()
        button((click)="this.toggleMenu = !this.toggleMenu", type="button")
        a((click)="this.toggleMenu = true", routerLink="")
            img(src="{{ 'parts/menu/logo_text' | cd:'h_80' }}")

    #menu([ngClass]="toggleMenu ? 'toggled' : 'untoggled'")
        ul.main
            li(*ngFor="let item of menu")
                a(routerLink="{{item.path}}", (click)="this.toggleMenu = true") {{item.label}}

                ul(class="child", *ngIf="item.children")
                    li(*ngFor="let child of item.children")
                        a(routerLink="{{child.path}}", (click)="this.toggleMenu = true") {{child.label}}
