@import 'mixins';

$color: #B51C47;

a,
p {
    font-size: ms(1);
}

app-main-menu {
    display: block;
    background: $color;
}

:host /deep/ {
    nav {
        margin-bottom: 0 !important;
    }
    footer {
        background-color: $color !important;
    }
}

.wrapper {
    @include wrapper;
}

.buttonHolder {
    text-align: center;
}

.container {
    width: 100%;
    background: cd("pages/24hbg/avi-richards-183715", "c_crop,g_north_west,w_4100/c_scale,w_1920") center center no-repeat;
    background-position: 50% 40%;

    .left {
        width: 60%;
    }
    h1 {
        margin: 0;
        padding-top: ms(2);
        font-weight: 300;
        font-size: ms(2);
        color: $ece-orange;
    }
    h2 {
        margin: 0;
        padding-bottom: ms(2);
        font-weight: 300;
        font-size: ms(2);
        color: $ece-blue;
    }
    h3 {
        margin: 0;
        padding-top: ms(2.5);
        padding-bottom: ms(1);
        font-weight: 400;
        font-size: ms(1.2);
        color: white;
    }

    .count-down {
        margin-bottom: ms(2);
        margin-left: -20px;
        color: white;
        display: grid !important;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        font-weight: 700;
        font-size: ms(1.2);
        font-family: Aleo;
        .stamp {
            font-weight: 200;
            font-size: ms(1.2);
            line-height: ms(1.2);
            font-family: MuseoSans;
        }
    }

    button {
        @include button;
        @include button-hollow;
        border-color: white;
        border-width: 2px;
        padding: 20px 50px;
        a {
            color: white;
            font-size: ms(2);
            font-weight: 200;

        }
    }
    .under {
        color: white;
        font-size: ms(1);
        text-align: center;
        font-weight: 100;
        margin-top: ms(0);
        padding-bottom: ms(5);
    }
}


@include bp(medium) {
    :host /deep/ .nav {
        height: $nav-height;
        background: transparentize($ic-blue, .1);

        li {
            a {
                line-height: $nav-height !important;
                padding: 0 ms(1)!important;
                color: white !important;
            }
        }
    }
}

.about {
    background: $color;
    color: white;
    padding-bottom: ms(0);
    border-bottom: 4px solid $ece-orange;

    h2 {
        font-weight: 400;
        font-size: ms(1.2);
        margin: 0;
        padding: ms(2) 0;
        text-align: center;
    }

    p {
        font-family: Aleo;
        font-weight: 300;
        font-size: ms(0.5);

        &:first-of-type {
            margin-top: 0;
        }
    }

    span {
        font-weight: 400;
        font-size: ms(1);
        text-align: center;
        margin: 0 ms(1);
    }
    
    button {
        @include ece-button 
    }
}

.marketing-site-hero {
    background: cd("pages/ic/DSC_0385_3.jpg", "w_1920,c_fill") top left no-repeat;
    @include bp(medium) {
        margin-top: -$nav-height;
        padding: $nav-height 0;
    }
}

.marketing-site-hero-content {
    text-align: center;
    display: grid;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    font-family: museosans;

    h1 {
        color: $ece-orange;
        font-weight: 300;
        font-size: ms(2);
        margin: ms(0) 0 0 0;


        &.subheader {
            color: $ece-blue;
            font-family: Aleo;
            margin: 0;
            font-weight: 500;
        }
    }
    h3 {
        text-align: center;
        color: white;
        font-weight: 200;
        font-size: ms(2);
        margin: 0 0 ms(1) 0;
        &.sub {
            margin: ms(1) 0 0 0;
        }
        .bold {
            font-weight: 700;

        }
    }
    h4 {
        text-align: center;
        color: white;
        font-size: ms(1.2);
        font-weight: 500;
    }
    a {
        @include button @include button-hollow border-width: 4px;
        border-color: white;
        color: white;
        margin: 0 auto;
        font-size: ms(2);
        font-weight: 500;
        padding: ms(1) ms(3);
        text-decoration: none;

        &:hover {
            color: $ic-blue;
        }
    }
}

.content {
    display: grid;
    margin: ms(0);

    img {
        max-width: 50%;
        display: block;
        margin: auto;
    }


    h3 {
        font-family: MuseoSans;
        color: $ece-orange;
        font-size: ms(1);
        font-weight: 300;
        margin-top: ms(1);
    }
    p {
        font-family: Aleo;
        color: $ece-black;
        font-weight: 300;
    }

    span {
        color: $ece-blue;
        font-size: ms(1);
    }

    @include bp(medium) {
        grid-template-columns: 1fr 2.5fr;
        grid-row-gap: ms(4);
        img {
            max-width: 70%;
            margin-top: ms(3);
        }
    }

    @include bp(xxlarge) {
        margin: ms(1) ms(6);
    }

}
