@import 'mixins';

$color: #B51C47;

a,
p {
    font-size: ms(1);
}

app-main-menu {
    display: none;
    background: $color;
}

.wrapper {
    @include wrapper;
}

.buttonHolder {
    text-align: center;
}

.bold {
    font-weight: 600;
}

@include bp(medium) {
    .menublock {
        height: $nav-margin;
        background: $color;
        width: 100%;
    }

}

.container {
    width: 100%;
    background: cd("pages/24hbg/avi-richards-183715", "c_crop,g_north_west,w_4100/c_scale,w_1920") center center no-repeat;
    background-position: 50% 40%;

    .left {

        width: 100%;
        @include bp(medium) {
            width: 60%;
        }

        color: white;
        button {
            clear: both;
            margin-top: ms(2);
            background: $ece-orange;
            border-radius: 5px;

            a {
                font-size: ms(2);
                font-weight: 400;
                color: white;
            }
        }

    }
    h1 {
        margin: 0;
        padding-top: ms(1);
        font-weight: 700;
        color: $color;
        font-size: ms(1.6); //color: $color;
        text-transform: uppercase;
        @include bp(medium) {
            font-size: ms(2);
        }
    }
    h2 {
        margin: 0;
        padding-bottom: ms(1);
        font-weight: 300;
        font-size: ms(1.2);
        color: $ece-blue;
        @include bp(medium) {
            font-size: ms(2);
            padding-bottom: ms(2);
        }
    }
    h3 {
        margin: 0;
        padding-top: ms(1);
        padding-bottom: ms(1);
        font-weight: 400;
        font-size: ms(1);

        @include bp(medium) {
            font-size: ms(1.2);
            padding-top: ms(2.5);
        }
    }

    .count-down {
        margin-bottom: ms(2); //color: white;
        display: grid !important;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 5px;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        font-weight: 700;
        font-size: ms(.8);
        font-family: Aleo;
        .stamp {
            font-weight: 200;
            font-size: ms(.8);
            line-height: ms(.8);
            font-family: MuseoSans;
        }

        @include bp(medium) {
            margin-left: -20px;
            grid-column-gap: 20px;
            font-size: ms(1.2);
            .stamp {
                font-size: ms(1.2);
                line-height: ms(1.2);
            }
        }
    }

    button {
        @include button;
        @include button-hollow;

        border-width: 2px;
        padding: ms(1) ms(3);

        color: white;
        a {

            font-size: ms(3);
            font-weight: 400;
        }
    }
    .under {
        color: white;
        font-size: ms(1);
        text-align: center;
        font-weight: 100;
        margin-top: ms(0);
    }

    .deadline {
        font-size: ms(1);
        text-align: center;
        padding-bottom: ms(2);
        @include bp(medium) {
            padding-bottom: ms(5);
        }

    }
}


@include bp(medium) {
    :host /deep/ .nav {
        height: $nav-height;
        background: transparentize($ic-blue, .1);

        li {
            a {
                line-height: $nav-height !important;
                padding: 0 ms(1)!important;
                color: white !important;
            }
        }
    }
    app-main-menu {
        display: block;
    }
}

.about {
    background: $color;
    color: white;
    padding-bottom: ms(0);
    border-bottom: 4px solid $ece-orange;

    .logo {
        text-align: center;
        padding: ms(1);
        margin: 0 auto 0 auto;
        display: block;
        max-width: 400px;
    }

    h2 {
        font-weight: 400;
        font-size: ms(1.2);
        margin: 0;
        padding: 0 0 ms(1) 0;
        text-align: center;
    }

    p {
        font-family: Aleo;
        font-weight: 300;
        font-size: ms(0.5);

        &:first-of-type {
            margin-top: 0;
        }
    }

    .info {
        text-align: center
    }
    span {
        font-weight: 400;
        font-size: ms(1);
        text-align: center;
        margin: 0;
        width: 100%;
        display: block;

        @include bp(medium) {
            width: auto;
            display: inline;
            margin: 0 ms(0);
        }
    }

    button {
        @include ece-button
    }
}

.past {
    @include wrapper display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title" "left" "right";

    @include bp(medium) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "title title" "left right";
    }


    h2 {
        grid-area: title;
        font-size: ms(1);
        margin-top: ms(2);
        color: $ece-blue;
        font-style: italic;
    }

    h3 {
        color: $ece-orange;
        font-family: Aleo;
        font-size: ms(0.7);
        margin-top: ms(1);
    }

    ul {
        list-style-type: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        font-family: Aleo;
        font-size: ms(0.4);
        li {
            float: left;
        }
        &.unis {
            li {
                width: 100%;
                @include bp(medium) {
                    width: 50%;
                }
            }
        }
        &.studies {
            li {
                margin-right: ms(-1);

                &.big {
                    font-size: ms(1);
                    line-height: ms(1);
                }
            }
        }
    }

    .left {
        grid-area: left;
        .numbers {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 20px;
            text-align: center;
            font-size: ms(0.6);
            font-family: Aleo;
        }
    }
    .right {
        grid-area: right;
        justify-self: center;
        margin-bottom: ms(1);
    }
}

.agenda {
    background: cd("pages/24hbg/24hbg_background", "c_scale,w_1920") no-repeat;
    color: white;
    border-bottom: 4px solid $ece-orange;
    h2 {
        padding-top: ms(1);
        font-size: ms(1.5);
        text-align: center;
        font-weight: 400;
    }

    h3 {
        font-weight: 400;
        font-size: ms(2);
        margin-bottom: ms(0);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: ms(0.2);
        li {
            display: inline-block;
            width: 100%;
            margin-bottom: ms(-2);
        }
        .event {
            width: 70%;
            float: left;
        }
        .time {
            width: 30%;
            float: left;
            font-weight: 100;
        }
    }

    .orange {
        font-weight: 200;
        color: $ece-orange;
        text-align: center;
        font-size: ms(0.3);
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "title" "left" "right" "bottom";
        grid-column-gap: 25px;
        margin-bottom: ms(1);
        @include bp(medium) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "title title" "left right" "bottom bottom";
        }

        .top {
            grid-area: title;
        }
        .left {
            grid-area: left;
        }
        .right {
            grid-area: right;
        }


        .buttonHolder {
            grid-area: bottom;
            padding: ms(1) 0 ms(2) 0;
            button {
                @include ece-button;
            }
        }
    }
}

.sponsors {
    @include wrapper;
    h2 {
        font-size: ms(1.5);
        margin-top: ms(2);
        color: black;
        text-align: center; // font-style: italic;
    }
    .content {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: ms(1);
        justify-items: center;
        align-items: center;
        img {
            //width:100%;
            margin: 0;
        }
    }
}

.speakers {
    padding-bottom: ms(2);
    background: $color;
    color: white;
    .logo {
        text-align: center;
        padding: ms(2);
        margin: ms(2) auto 0 auto;
        display: block;
        max-width: 400px;
    }
    h2 {
        font-weight: 400;
        margin-top: ms(2);
        font-size: ms(1.2);
    }
    p {
        margin-top: 0;
        font-weight: 200;
        font-size: ms(.4);
    }
    .speakers-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        align-items: center;
        @include bp(medium) {
            grid-template-columns: 1fr 2fr 1fr 2fr;
            grid-template-rows: auto;
        }
        .img {
            justify-self: end;
            margin: ms(0);

        }
        .text {
            width: 70%;
            justify-self: start;
            font-weight: 200;
            span:first-of-type {
                margin-top: ms(-2);
                display: inline-block;
            }
        }
    }
}

.video {
    background-color: black;
}


.faq {
    @include wrapper margin-bottom: ms(3);
    h2 {
        color: $ece-orange;
        font-weight: 400;
        margin: ms(0) 0 0 0;
        font-family: MuseoSans;
        font-size: ms(2);
    }

    .right {
        border-left: 0px solid $ece-blue;
        @include margin_vertical
    }
    .tab {
        position: relative;
        margin-bottom: 1px;
        width: 100%;
        color: white;
        font: Aleo;
        overflow: hidden;
    }
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    label {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: $color;
        font-weight: bold;
        line-height: 3;
        cursor: pointer;
    }

    .tab-content {
        max-height: 0;
        overflow: hidden;
        background: white;
        color: $ece-black;
        -webkit-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
        border: 2px solid white;

    }

    .tab-content p {
        margin: 1em;
        font-size: 18px;
        font-family: Aleo;
        font-weight: 300;
    }
    /* :checked */
    input:checked~.tab-content {
        max-height: 20em;
        border: 2px solid #ddd;
    }
    /* Icon */
    label::after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
    }
    input[type=checkbox]+label::after {
        content: "+";
    }

    input[type=checkbox]:checked+label::after {
        transform: rotate(315deg);
    }

}

.map {
    .buttonHolder {
        margin-top: -100px;
    }
    button {
        @include ece-button;

    }
}

.contact {
    background: $color;
    color: white;
    border-bottom: 4px solid white;
    h2 {
        margin: 0;
    }
    .wrapper {
        padding: ms(2) 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "touch" "p1" "p2" "social";
        align-items: center;
        text-align: center;
        @include bp(medium) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "touch p1 p2" "social social social";
        }

        .person {
            .orange {
                color: $ece-orange;
                margin-top: ms(0);
                display: inline-block;
            }
            a {
                color: white;
                font-size: ms(0);
            }
        }

        .social {
            grid-area: social;
            margin: ms(1) 0;
            font-size: ms(.5);
            font-weight: 400;

            a {
                color: white;
                font-size: ms(0.5);
            }
        }


        .light {
            font-style: italic;
            font-weight: 200;
        }
    }
}

.marketing-site-hero {
    background: cd("pages/ic/DSC_0385_3.jpg", "w_1920,c_fill") top left no-repeat;
    @include bp(medium) {
        margin-top: -$nav-height;
        padding: $nav-height 0;
    }
}

.marketing-site-hero-content {
    text-align: center;
    display: grid;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    font-family: museosans;

    h1 {
        color: $ece-orange;
        font-weight: 300;
        font-size: ms(2);
        margin: ms(0) 0 0 0;


        &.subheader {
            color: $ece-blue;
            font-family: Aleo;
            margin: 0;
            font-weight: 500;
        }
    }
    h3 {
        text-align: center;
        color: white;
        font-weight: 200;
        font-size: ms(2);
        margin: 0 0 ms(1) 0;
        &.sub {
            margin: ms(1) 0 0 0;
        }
        .bold {
            font-weight: 700;

        }
    }
    h4 {
        text-align: center;
        color: white;
        font-size: ms(1.2);
        font-weight: 500;
    }
    a {
        @include button @include button-hollow border-width: 4px;
        border-color: white;
        color: white;
        margin: 0 auto;
        font-size: ms(2);
        font-weight: 500;
        padding: ms(1) ms(3);
        text-decoration: none;

        &:hover {
            color: $ic-blue;
        }
    }
}

.content {
    display: grid;
    margin: ms(0);

    img {
        max-width: 50%;
        display: block;
        margin: auto;
    }


    h3 {
        font-family: MuseoSans;
        color: $ece-orange;
        font-size: ms(1);
        font-weight: 300;
        margin-top: ms(1);
    }
    p {
        font-family: Aleo;
        color: $ece-black;
        font-weight: 300;
    }

    span {
        color: $ece-blue;
        font-size: ms(1);
    }

    @include bp(medium) {
        grid-template-columns: 1fr 2.5fr;
        grid-row-gap: ms(4);
        img {
            max-width: 70%;
            margin-top: ms(3);
        }
    }

    @include bp(xxlarge) {
        margin: ms(1) ms(6);
    }

}
