.header

main
    .left
        img.top(src='{{data.topimage | cd:"w_800,c_fill"}}')
        .description([innerHTML]="data.text")
    .right
        .positions
            h2 Positions
            ul
                li(*ngFor="let position of data.positions")
                    img(src='{{"pages/committeepage/Hexagon_lichtblauwe-01-01-01"| cd:"w_15,c_fill"}}')

                    | {{position}}
        a.apply(href="", target="_blank") APPLY