//put the menu somewhere in the page
.container
    .wrapper
        img(src='{{ white | cd:"w_600,c_fill"}}')
        h2 Develop ideas. Disrupt Ownership
        //h4 This is a tagline with some interesting text when Sansa woke up
        h3 January 16, 2018

.about
    h2 Sharing Economy whenever we think is all there is around us.
    div.left
        img(src='{{ logo | cd:"w_300,c_fill"}}')
    div.right
        p Idea generation is the first step to creating a solution people love. That’s why we created IdeaLab, where we crack startup cases as well as fine-tune our own ideas. Get a feel of what’s already out there and discuss your own concepts and ideas with fellow students who share your passion for entrepreneurship.
        span January 16 | 13.00 - 17:00
        span Erasmus University Rotterdam

.signup
    div
        h2 Sign Up.
        .right
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
            button(type='submit') Submit

.agenda
    .left
        h2 Agenda
    .right
        ul
            li(*ngFor="let item of agenda")
               | {{ item.time }}
               br
               ng-container(*ngFor="let p of item.event") 
                | {{ p.text }}
                br
.endorsements
    div
        h2 Endorsements
        
        div(*ngFor="let item of endorsements")
            span.heart(*appTimes="item.number")
            .message "{{ item.message }}"
            .person {{ item.person }}