@import 'mixins';

#construction{
      width: 100%;
      text-align: center;
      font-family: MuseoSans;
      font-size: ms(0);
      color: white;
      font-weight: 500;
      text-align: center;
      background: $ece-blue;
      position: fixed;
      top: 0;
      z-index: 2;
}

:host /deep/ .nav {
      li:first-of-type,
      li:nth-of-type(2):before {
            display: none;
      }
      li+li:before {
            line-height: 47px !important;
      }

      li {
            padding: 0;
            a {
                  font-size: ms(1) !important;
                  padding: ms(-1) ms(1) !important;
                  transition: all 0.3s ease;
            }
      }
}

.shaping {
      margin-top: 24px;
      background: cd("pages/front/station.jpg", "c_crop,h_2000,w_4000/c_scale,w_1920") top right no-repeat;
      width: 100%;
      height: $shaping-height;
      //min-height: 750px;
      font-family: MuseoSans;
      display: grid;
      grid-template-areas: "left text right";
      grid-template-columns: 0 100% 0;

      .red,
      .blue {
            a:hover,
            button:hover {
                  position: relative;
                  color: $ece-orange;

                  & .icpop {
                        display: block;
                  }
            }

            .icpop {
                  position: absolute;
                  bottom: 80px;
                  left: 0;
                  display: none;
                  width: 100%;
                  height: auto;
                  padding: ms(1);
                  background: transparentize(white, .2);
                  ;
                  font-size: ms(0);
                  font-weight: 500;
                  color: $ece-black;
                  div,
                  img {
                        margin-bottom: ms(-1);
                  }


                  &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border: 20px solid transparent;
                        border-top-color: transparentize(white, .2);
                        border-bottom: 0;
                        margin-left: -20px;
                        margin-bottom: -20px;
                  }
            }
      }

      .red {
            grid-area: left;
            display: none;
            height: $shaping-box-height;
            position: relative;
            text-align: center;
            background: transparentize($ece-orange, 0.5);

            a:hover,
            button:hover {
                  color: $ece-blue;
            }

            &:after {
                  content: '';
                  position: absolute;
                  bottom: -$triangle-height;
                  left: 0;
                  width: 100%;
                  border-top: $triangle-height solid transparentize($ece-orange, 0.5);
                  border-right: $triangle-height solid transparent;
            }
            
            .icpop{
                  padding:0;
                  div{
                        padding: ms(0);
                        margin: 0;
                        font-size: ms(0);
                        border-bottom: 1px solid $ece-orange;
                        
                        &:last-of-type{
                              border: 0px;
                        }
                        
                        &:hover{
                              background-color: transparentize($ece-orange, 0.5);
                        }
                  }
            }
      }

      .white {
            grid-area: text;
            display: grid;
            grid-template-rows: repeat(4, auto);
            grid-auto-flow: row;
            justify-items: center;

            h1 {
                  color: white;
                  font-weight: 300;
                  font-size: ms(2);
                  margin: ms(-4) ms(1) 0 ms(1);
            }
            .logo{
                  height: 50vh;
                  width: auto;
            }
            .bulb{
                  height: 20vh;
                  width: auto;
            }
      }

      .blue {
            grid-area: right;
            display: none;
            height: $shaping-box-height;
            position: relative;
            text-align: center;
            background: transparentize($ece-blue, 0.5);


            &:after {
                  content: '';
                  position: absolute;
                  bottom: -$triangle-height;
                  left: 0;
                  width: 100%;
                  border-top: $triangle-height solid transparentize($ece-blue, 0.5);
                  border-left: $triangle-height solid transparent;
            }
      }

      a,
      button {
            @include button @include button-hollow border-color: #fefefe;
            font-size: ms(2);
            font-weight: 300;
            padding: ms(0) ms(2);
            margin-top: 60vh;
            text-decoration: none;
      }

      .container-fluid {
            height: 300px;
            width: 100%;
            float: left;
      }


      @include bp(medium) {
            grid-template-columns: 1fr auto 1fr;
            .white {
                  h1 {
                        margin: ms(-2) ms(4) 0 ms(4);
                        font-size: ms(3);
                  }
            }
            .red,
            .blue {
                  display: block;
            }
      }
}

#erasmus {
      width: 100%;
      display: grid;
      margin: ms(3) 0;
      align-items: center;
      grid-template-areas: "left" "right";
      grid-template-rows: auto auto;

      h1 {
            font-family: MuseoSans;
            color: $ece-blue;
            font-size: ms(1.5);
            margin-bottom: 0;
            margin-top: ms(1);
      }
      h2 {
            font-family: Aleo;
            color: $ece-orange;
            font-size: ms(2);
            margin: 0;
      }
      h3 {
            font-family: MuseoSans;
            color: $ece-orange;
            font-size: ms(.5);
            font-weight: 300;
            margin-top: ms(1);
      }
      p {
            font-family: Aleo;
            color: $ece-black;
            font-size: ms(.5);
            font-weight: 300;
      }
      .left {
            grid-area: left;
            overflow: hidden;
      }

      .right {
            grid-area: right;
            overflow: hidden;
      }
}

#innovation {
      background: cd("pages/front/pexels.jpg", "c_scale,w_1920") 50% 40% no-repeat;
      width: 100%;
      display: grid;
      padding: ms(4) 0;
      align-items: center;
      grid-template-areas: ". left . right .";
      grid-template-columns: ms(5) 1fr ms(4) 2fr ms(5);

      h1 {
            font-family: MuseoSans;
            line-height: 3.33019073rem;
            color: $ic-blue;
            font-size: ms(2.2);
            margin-bottom: 0;
            font-weight: 800;
      }
      h2 {
            font-family: MuseoSans;
            color: $ece-black;
            font-size: ms(2.5);
            margin: 0;
            font-weight: 200;
      }
      a {
            @include button @include button-hollow border: 4px solid $ece-black;
            color: $ece-black;
            font-size: ms(2);
            font-weight: 200;
            margin: ms(1);
            padding: ms(0) ms(2);
            text-decoration: none;

            &:hover {
                  color: $ic-blue;
            }
      }
      .left {
            grid-area: left;
      }

      .right {
            grid-area: right;
            text-align: center;
      }
}

#commingsoon {
      width: 100%;
      text-align: center;
      h1 {
            font-family: MuseoSans;
            color: $ece-blue;
            font-size: ms(2.5);
            margin-bottom: 0;
            margin-top: ms(1);
      }
      h2 {
            font-family: MuseoSans;
            color: $ece-black;
            font-size: ms(2);
            margin: 0;
            font-weight: 200;
      }
}

#partners {
      width: 100%;
      margin: ms(2) 0;
      h1 {
            color: $ece-orange;
            font-family: MuseoSans;
            font-size: ms(1);
      }
}

@include bp(medium) {
      #erasmus {
            grid-template-areas: ". left . right .";
            grid-template-columns: ms(5) 1fr ms(3) 1fr ms(5);
            h1 {
                  font-size: ms(2);
            }
            h2 {

                  font-size: ms(2.5);
            }
            h3 {
                  font-size: ms(.5);
                  margin-top: ms(.5);
            }
            p {
                  font-size: ms(.5);
            }
      }

      #partners {
            margin: ms(3) 0;
            padding: 0 ms(2);
      }

}

@include bp(xxlarge){
      #erasmus {
            h1 {
                  font-size: ms(2.5);
            }
            h2 {

                  font-size: ms(3);
            }
            h3 {
                  font-size: ms(1);
                  margin-top: ms(1);
            }
            p {
                  font-size: ms(1);
            }
      }
}
