@import 'mixins';

#wrappertest {
      @include wrapper;
}

#containtest {
      @include background_container("pages/front/station.jpg");
      @include margin_vertical;
      @include padding_vertical;
      p {
            @include text(MuseoSans, 1, $ic-blue, 800);
      }
}

#construction {
      width: 100%;
      height: ms(-2);
      text-align: center;
      font-family: MuseoSans;
      font-size: ms(0);
      color: white;
      font-weight: 500;
      text-align: center;
      background: $ece-blue;
}

:host /deep/ .nav {
      @include bp(medium) {
            padding-top: ms(-1);
      }

      li:first-of-type,
      li:nth-of-type(2):before {
            display: none;
      }
      li+li:before {
            line-height: 47px !important;
      }

      li {
            padding: 0;
            a {
                  color: black !important;
                  font-size: ms(1) !important;
                  padding: ms(-1) ms(1) !important;
                  transition: all 0.3s ease;
            }
      }
}

.shaping {
      background: rgba(255, 126, 21, 1);
      background: -moz-linear-gradient(left, rgba(255, 126, 21, 1) 0%, rgba(228, 87, 36, 1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 126, 21, 1)), color-stop(100%, rgba(228, 87, 36, 1)));
      background: -webkit-linear-gradient(left, rgba(255, 126, 21, 1) 0%, rgba(228, 87, 36, 1) 100%);
      background: -o-linear-gradient(left, rgba(255, 126, 21, 1) 0%, rgba(228, 87, 36, 1) 100%);
      background: -ms-linear-gradient(left, rgba(255, 126, 21, 1) 0%, rgba(228, 87, 36, 1) 100%);
      background: linear-gradient(to right, rgba(255, 126, 21, 1) 0%, rgba(228, 87, 36, 1) 100%);
      .wrapper {
            @include wrapper;
            padding-top: ms(0);
            padding-bottom: ms(0);
            @include bp(medium) {
                  padding-top: ms(5);
                  padding-bottom: ms(3);
            }
            text-align: center;
            h1 {
                  @include text(MuseoSans, 2, $ece-black, 600);
                  margin: 0;
            }
            h2,
            span {
                  @include text(MuseoSans, 1.5, white, 600);
                  margin: 0;
            }

      }

}


#hiring {
      @include wrapper;
      text-align: center;
      h1 {
            font-family: MuseoSans;
            color: $ece-orange;
            font-size: ms(3);
            margin-bottom: 0;
            margin-top: ms(1);
      }

      .buttons {
            @include bp(medium) {
                  display: flex;
                  justify-content: center;
            }


            a {
                  @include button(false, #130ab4, $ece-orange, white, solid);
                  font-family: MuseoSans;
                  padding: 0.3em .3em;
                  font-size: ms(1.5);
                  font-weight: bold;
                  text-decoration: none;
                  display: block;
                  width: 270px;
                  border-radius: 10px;
                  text-transform: uppercase;

                  flex-basis: 100%;
                  text-align: center;
                  flex-grow: 1;
                  flex-shrink: 1;
                  flex-basis: 0;

                  margin: ms(0) auto;
                  @include bp(medium) {
                        margin: ms(0) ms(2);
                  }
            }

            a.committees {
                  background-color: $ece-orange;
            }

            a.apply {
                  background-color: $ece-blue;
            }
      }
}

#erasmus {
      @include wrapper;
      display: grid;
      align-items: center;
      grid-template-areas: "left" "right";
      grid-template-rows: auto auto;

      @include bp(large) {
            grid-template-areas: "left right";
            grid-template-columns: auto auto;
            grid-column-gap: ms(0);
      }

      h1 {
            font-family: MuseoSans;
            color: $ece-blue;
            font-size: ms(1);
            margin-bottom: 0;
            margin-top: ms(1);
      }
      h2 {
            font-family: Aleo;
            color: $ece-orange;
            font-size: ms(1);
            margin: 0;
      }
      h3 {
            font-family: MuseoSans;
            color: $ece-orange;
            font-size: ms(.5);
            font-weight: 300; //margin-top: ms(1);
      }
      p {
            font-family: Aleo;
            color: $ece-black;
            font-size: ms(.5);
            font-weight: 300;
      }
      .left {
            grid-area: left;
            overflow: hidden;
      }

      .right {
            grid-area: right;
            overflow: hidden;
      }
}

/*
#innovation {
      background: cd("pages/front/pexels.jpg", "c_scale,w_1920") 50% 40% no-repeat;
      width: 100%;
      display: grid;
      padding: ms(2) ms(1);
      align-items: center;
      grid-template-areas: "left" "right";
      grid-template-rows: auto auto;

      img {
            max-width: 50%;
      }
      @include bp(medium) {
            padding: ms(4) 0;
            grid-template-areas: ". left . right .";
            grid-template-columns: ms(5) 1fr ms(4) 2fr ms(5);
            img {
                  max-width: 100%;
            }
      }



      h1 {
            font-family: MuseoSans;
            line-height: 3.33019073rem;
            color: $ic-blue;
            font-size: ms(1.2);
            margin-bottom: 0;
            font-weight: 800;
            @include bp(medium) {
                font-size: ms(2.2);
            }
      }
      h2 {
            font-family: MuseoSans;
            color: $ece-black;
            font-size: ms(1.5);
            margin: 0;
            font-weight: 200;
            @include bp(medium) {
                  font-size: ms(2.5);
            }
      }
      a {
            @include button @include button-hollow border: 4px solid $ece-black;
            color: $ece-black;
            font-size: ms(1);
            font-weight: 200;
            margin: ms(1);
            padding: ms(0) ms(2);
            text-decoration: none;
            @include bp(medium) {
                font-size: ms(2);
            }

            &:hover {
                  color: $ic-blue;
            }
      }
      .left {
            grid-area: left;
            text-align: center;
      }

      .right {
            grid-area: right;
            text-align: center;
      }
}
*/

#commingsoon {
      @include wrapper;
      text-align: center;
      h1 {
            font-family: MuseoSans;
            color: $ece-blue;
            font-size: ms(2.5);
            margin-bottom: 0;
            margin-top: ms(1);
      }
      a {
            @include button(false, #130ab4, $ece-orange, white, solid);
            font-family: MuseoSans;
            padding: 0.3em .3em;
            font-size: ms(1.5);
            background-color: $ece-orange;
            font-weight: bold;
            text-decoration: none;
            margin: 25px auto;
            display: block;
            width: 270px;
            border-radius: 10px;
            text-transform: uppercase;
      }
}

#partners {
      @include wrapper;
      margin-bottom: ms(2);
      h1 {
            color: $ece-orange;
            font-family: MuseoSans;
            font-size: ms(1);
      }

      ul {
            @include menu-base;
            @include menu-direction("vertical");
            display: grid;
            align-items: center;
            grid-template-columns: repeat(3, auto);
            grid-column-gap: ms(1);
            grid-row-gap: ms(0);

            @include bp(medium) {
                  grid-template-columns: repeat(4, auto);
            }

            @include bp(large) {
                  grid-template-columns: repeat(5, auto);
            }

            @include bp(xlarge) {
                  grid-template-columns: repeat(6, auto);
            }
      }
}
