//put the menu somewhere in the page
app-main-menu

.shaping  
   
    .red
        p 1 
        button
    .white 
        p 2
        .nav
        img(src="assets/Logo_ECE_transparent.png")
        img(src="assets/Bulb Icon.png")
    .blue
        p 3
        button 
.erasmus 
.innovation 
.partners
.love
.follow
    .social 
    .contact
