//put the menu somewhere in the page
//app-main-menu

.shaping  
   
    .red
      
        button For You
    .white 
        li.nav
            ul 
                a(routerLink='#') About
            ul 
                a(routerLink='#') Events
            ul 
                a(routerLink='#') Commitees
            ul 
                a(routerLink='#') Career
        img(src='{{ logo | cd:"w_350,c_fill" }}')
        h1 Shaping Ideas
        img(src='{{ bulb | cd:"w_200,c_fill" }}')
    .blue
        p 
        button Events
#erasmus.container-fluid
#innovation.container-fluid 
#partners.container-fluid
#love.container-fluid 
#follow.container-fluid
    .social 
    .contact
