//put the menu somewhere in the page
//app-main-menu
#construction
    | Website under construction. Innovation under way.
.shaping

    .red
        button.foryou For You
            //div.icpop
                div
                    a Job Portal
                div Steep
                div About Us
    .white
        app-main-menu
        img.logo(src='{{ logo | cd:"w_350,c_fill" }}')
        h1 Shaping Ideas
        img.bulb(src='{{ bulb | cd:"w_130,c_fill" }}')
    .blue
        p
        a(routerLink="/ic") Events
            div.icpop
                div Next up:
                img(src='{{ ic_logo | cd:"w_60,c_fill"}}')
                div Innovation Challenge
                div December 1, 2017

#erasmus.container-fluid
    .left
        h1
            | ERASMUS
            br
            | CENTRE FOR
            br
            | ENTREPRENEURSHIP
        h2 Students
    .right
        h3 Who are we?
        p ECE students is a group of international students that focuses on building an entrepeneurial spirit at Erasmus University Rotterdam. We organize events and competitions aimed to inspire, coach and help students in making their ideas a reality.
        p We provide all the resources — coaching, network, working space — to help anyone bring their ideas into the real world. Do you feel ready? Because we are.


#innovation.container-fluid
    .left
        img(src='{{ ic_logo | cd:"w_351,c_fill"}}')
    .right
        h1 Innovation Challenge
        h2 It's about sustainability this time
        a(routerLink='/ic') Apply now

#commingsoon.container-fluid
    h1 More content is coming soon
    h2 Keep visiting our site to find out about our amazing projects

#partners.container-fluid
    h1 Our Partners
    img(src='{{ partners | cd:"w_1920,c_fill"}}')
#love.container-fluid
#follow.container-fluid
    .social
    .contact