.header
main
    h2 Events Calendar
    .overview
        .event
            img.top(src='{{"pages/idealab/header" | cd:"w_200,c_fill"}}')
            h3 Innovation challenge 2018
            .text
            .bottom
                a(href="") Learn more >
                img.icon(src='{{"pages/idealab/logo" | cd:"w_20,c_fill"}}')
            
            