.header
main
    h2 Committees Overview
    .overview
        .event(*ngFor="let event of events")
            img.top(src='{{event.topimage | cd:"w_640,h_240,c_fill"}}')
            h3 {{event.title}}
            .text([innerHTML]="event.text")
            // .bottom(*ngIf="event.link")
            //     a(routerLink="{{'/'+event.link}}") Learn more


