.header
main
    h2 Committee Overview
    .overview
        a.event(*ngFor="let event of dataservice.committees", routerLink="{{ '/committees/'+event.link}}")
            img.top(src='{{event.topimage | cd:"w_640,h_240,c_fill"}}')