ng-container(*ngIf="event?.header")
    .container([style.background-image]="'url(https://res.cloudinary.com/ece/image/upload/f_auto,q_auto/' + event.header.background + ')'")
        .wrapper
            img(src='{{ event.header.logo | cd:"w_1200,c_fill"}}')
            ng-container(*ngFor="let tl of event.header.taglines")
                h2(*ngIf="tl.large") {{tl.text}}
                h4(*ngIf="!tl.large") {{tl.text}}
            h3 {{ event.header.date }}

ng-container(*ngIf="event?.about")
    .about
        h2 {{ event.about.title }}
        div.left
            img(src='{{ event.about.img | cd:"w_300,c_fill"}}')
        div.right
            p(*ngFor="let p of event.about.paragraphs") {{p}}
            span(*ngFor="let t of event.about.bottom_taglines") {{t}}

ng-container(*ngIf="event?.signup")
    .signup([style.background-color]="event.signup.color")
        div
            h2 {{ event.signup.tagline }}
            .right
                a(href="{{ event.signup.link }}")
                    button Sign Up

ng-container(*ngIf="event?.agenda")
    .schedule
        h2 Agenda
        i.full(*ngIf="event?.agenda.mainpdf") Check out the full outline of the programme <a href="{{event.agenda.mainpdf}}" target="_blank">here!</a>
        ng-container(*ngFor="let item of event?.agenda.items; let i = index")
            ng-container(*ngIf="i == 0")
                input(id="tab{{i+1}}"  type="radio" name="tabs" checked)
            ng-container(*ngIf="i != 0")
                input(id="tab{{i+1}}"  type="radio" name="tabs")
            label(for="tab{{i+1}}") {{ item.tab }}

        ng-container(*ngFor="let item of event?.agenda.items; let i = index")
            section(id="content{{i+1}}")
                .left
                    h3 {{ item.title }}
                    .date
                        | {{ item.date }}
                        br
                        | {{ item.time }}
                        br
                        | {{ item.location }}
                    p {{ item.text }}
                    i(*ngIf="item.pdf")  Check out the full {{item.tab}} agenda <a href="{{item.pdf}}" target="_blank">here!</a>
                figure.tint
                    img(src='{{ item.img | cd:"w_400,c_fill"}}')

ng-container(*ngIf="event?.faq")
    .faq
        .left
            h2 F.A.Q.

            .tab(*ngFor="let item of event.faq; let i = index")
                input(type="checkbox" name="tabs" id="tab-{{ i }}")
                label(for="tab-{{ i }}") {{ item.ask }}
                .tab-content
                    p {{ item.answer }}
