ng-container(*ngIf="event?.header")
    .container([style.background-image]="'url(https://res.cloudinary.com/ece/image/upload/f_auto,q_auto/' + event.header.background + ')'")
        .wrapper
            img(src='{{ event.header.logo | cd:"w_1200,c_fill"}}')
            ng-container(*ngFor="let tl of event.header.taglines")
                h2(*ngIf="tl.large") {{tl.text}}
                h4(*ngIf="!tl.large") {{tl.text}}
            h3 {{ event.header.date }}

ng-container(*ngIf="event?.about")
    .about
        h2 {{ event.about.title }}
        div.left
            img(src='{{ event.about.img | cd:"w_300,c_fill"}}')
        div.right
            p(*ngFor="let p of event.about.paragraphs") {{p}}
            span(*ngFor="let t of event.about.bottom_taglines") {{t}}

ng-container(*ngIf="event?.signup")
    .signup([style.background-color]="event.signup.color")
        div
            h2 {{ event.signup.tagline }}
            .right
                a(href="{{ event.signup.link }}")
                    button Sign Up
