@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';
@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @include breakpoint(#{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }

    @else {
        @error "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "+"Please make sure it is defined in `$breakpoints` map.";
    }
}



@mixin wrapper {
    position: relative;
    clear: both;
    margin: 0 auto;
    width: 95%;
    @include bp(medium) {
        width: 600px;
    }
    @include bp(large) {
        width: 800px;
    }
    @include bp(xlarge) {
        width: 900px;
    }
    @include bp(xxlarge) {
        width: 1000px;
    }
}
