//standarization
@mixin text ($font, $size, $color, $weight) {
    font-family: $font;
    color: $color;
    font-size: ms($size);
    font-weight: $weight;
    @include bp(medium) {
        font-size: ms($size + 1);
    }
}

@mixin margin_vertical {
    margin-top: ms(0);
    margin-bottom: ms(0);

    @include bp(medium) {
        margin-top: ms(3);
        margin-bottom: ms(3);
    }
}

@mixin padding_vertical {
    padding-top: ms(0);
    padding-bottom: ms(0);

    @include bp(medium) {
        padding-top: ms(3);
        padding-bottom: ms(3);
    }
}

@mixin background_container ($url){
    width: 100%;
    background: cd($url, "c_scale,w_1920") center center no-repeat;
}