@import 'mixins';

$color: $ic-blue;

a,
p {
    font-size: ms(.7);
}

.marketing-site-hero {
    @include event-header("pages/ic/Asset_1.png") h1 {
        color: $ece-orange;
        font-weight: 300;
        font-size: ms(2);
        margin: ms(3) 0 0 0;


        &.subheader {
            color: $ece-blue;
            font-family: Aleo;
            margin: 0;
            font-weight: 500;
        }
    }
    h3 {
        text-align: center;
        color: white;
        font-weight: 200;
        font-size: ms(2);
        margin-top: 0;
        &.sub {
            margin: ms(0) 0 0 0;
        }
        .bold {
            font-weight: 700;

        }
    }
    h4 {
        text-align: center;
        color: white;
        font-size: ms(1.2);
        font-weight: 500;
    }
    a {
        @include button @include button-hollow border-width: 4px;
        border-color: white;
        color: white;
        margin: 0 auto;
        font-size: ms(2);
        font-weight: 500;
        padding: ms(1) ms(3);
        text-decoration: none;

        &:hover {
            color: $ic-blue;
        }
    }
}

.about {
    @include event-about
}

.signup {
    @include event-signup($color)
}

.agenda {
    @include event-agenda
}

.endorsements {
    @include event-endorsements($color)
}
