//put the menu somewhere in the page
.marketing-site-hero
    .wrapper
        div.logo
            img(src='{{ ic_logo | cd:"w_150,c_fill"}}')
            h1 Innovation Challenge
        h2 Develop ideas. Disrupt ownership.
        //h4 This is a tagline with some interesting text when Sansa woke up
        div.fancybox
            h3 January 16, 2018


.about
    h2 What is Innovation Challenge?
    div.left
        img(src='{{ ic_logo | cd:"w_350,c_fill"}}')
    div.right
        p The Innovation Challenge is a two-way opportunity for creative-minded students and business organizations. The students, guided by experienced mentors, are able to liberate their imagination and solve business-related problems, while the companies benefit from the ideas of fresh-minded students. During the challenge, the participants will investigate a real-life case, form teams, brainstorm solutions and pitch their ideas to the judges. The best idea wins the award!
        span December 1 | 8.30
        span ECE Campus
        span Marconistraat 16

.signup
    div
        h2 Sign Up.
        .right
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
            button(type='submit') Submit

.agenda
    .left
        h2 Agenda
    .right
        ul
            li(*ngFor="let item of agenda")
               | {{ item.time }}
               br
               | {{ item.event }}

//.endorsements
    div
        h2 Endorsements
        div(*ngFor="let item of endorsements")
            //span.heart(*appTimes="item.number")
            .message "{{ item.message }}"
            .person {{ item.person }}



