//the global import file

//modules
@import '../node_modules/foundation-sites/scss/foundation';
@import '../node_modules/modularscale-sass/stylesheets/modularscale';

//own stuff
@import 'style_imports/breakpoints';
@import 'style_imports/font_awesome';
@import 'style_imports/cloudinary'; 

//settings
$modularscale: ( 
  base: 1rem, 
  ratio: $golden
); 

$breakpoints: (  
    small: 480px,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);


//colors
$ece-orange: #e55625;
$ece-blue: #4887c7;
$ece-black: #303030;
$ic-blue: #4961fa;

$nav-height: ms(2.5);
$nav-icon-margin: ms(-1);
$nav-icon-height: $nav-height - 2 * $nav-icon-margin;

$shaping-height: 775px;
$triangle-height: 200px;
$shaping-box-height: $shaping-height - $triangle-height;

/*EXAMPLES

//foundation
Check foundation documentation, dont append "foundation-"
a {
    @include button;
}

//modular scale
ms(0)

//colors
#ece-orange

//breakpoints
mobile first, add breakpoint for larger behaviour
@include bp(xlarge) {
    a {
        display: inline
    }
}


//font awesome
fa($icon_name, $fontsize:"", $color:"")
fa_link($icon_name, $fontsize:"", $color:"") //for a tags
a {
    @include fa(address-book);
}

//cloudinary
upload images by hand of later via cms

cd(id, options)
background-image: cd("parts/footer/annie-spratt-61561.jpg", "c_crop,h_1000,w_3300/c_scale,w_1900");

*/