@import 'mixins';

.banner {
    font-family: MuseoSans;
    margin: ms(2) 0;
    padding: ms(3) 0;
    background-image: cd("parts/footer/annie-spratt-61561.jpg", "w_1920,c_fill");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: grid;
    grid-template-areas: ". text . dates .";
    grid-template-columns: 1fr auto 1fr auto 1fr;

    @include bp(large) {
        grid-template-columns: 2fr auto 5fr auto 2fr;
    }

    color: white;

    span {
        color: $ece-orange;
    }

    .text {
        
        grid-area: text;
        padding: ms(-1);

        .title {
            font-size: ms(1);
            font-family: MuseoSans;
            font-weight: 500;
        }

        div {
            font-family: Aleo;
            margin-bottom: ms(0);
            font-size: ms(.7);
            font-weight: 300;
        }
    }

    .dates {
        font-size: ms(1);
        grid-area: dates;
        padding: ms(-1);
        text-align: center;

        @include bp(large) {
            margin-top: ms(5);
            margin-bottom: ms(0);
        }

        .room {
            color: $ece-blue;
        }
    }
}

.bottom {
    display: grid;
    grid-template: "title" auto "contact" auto "social" auto;
    grid-gap: ms(-6);
    align-items: center;


    @include bp(medium) {
        grid-template: "title title" auto "social contact" auto / 1fr 1fr;
    }

        .follow {
            grid-area: title;
            color: $ece-blue;
            font-size: ms(1);
            @include bp(small) {
                font-size: ms(2);
                margin: 0 ms(5);
            }

            margin-bottom:ms(1);
        }

    .social {
        padding: ms(0);
        padding-bottom: ms(2);
        @include bp(medium) {
            padding: 0 ms(1);
        }


        grid-area: social;

        ul {
            @include menu-base;
            margin: 0;
            display: grid;

            @include bp(large) {
                margin: 0 ms(5);
            }
            grid-template-columns: repeat(4, 1fr);
            li {
                text-align: center;
                .count {
                    margin-top: ms(0);
                    color: $ece-orange;
                    font-size: ms(1);
                }
                .fb {
                    @include fa-link(facebook, ms(3), $ece-black);
                }

                .ln {
                    @include fa-link(linkedin, ms(3), $ece-black);
                }

                .twit {
                    @include fa-link(twitter, ms(3), $ece-black);
                }

                .insta {
                    @include fa-link(instagram, ms(3), $ece-black);
                }
            }
        }
    }

    .contact {
        grid-area: contact;
        padding: 0 ms(2);
        display: grid;
        grid-template-columns: 1fr auto ms(2) auto 1fr;
        align-items: center;
        &>div {
            font-size: ms(0);
            font-family: MuseoSans;
            font-weight: 500;
            grid-column: 4;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: ms(0);
        }

        .fa {
            grid-column: 2;
            width: 0;
            &:before {
                width: ms(1);
                text-align: center;
            }
        }

        .location {
            @include fa(map-marker, ms(2));
        }

        .phone {
            @include fa(mobile, ms(2));
        }

        .mail {
            @include fa(envelope-o, ms(1));
        }
    }
}
