.banner
    .text
        .title 
            | We would 
            span love 
            | to meet you!
        
        div Maybe you have a question about what we do.
            br 
            | Or you have a super crazy idea to share.
            
        div Just drop by our office. 
        
        div We have coffee. 
    .dates 
        .days Monday 
            span | 
            | Tuesday 
            span | 
            | Wednesday
            
        .time 10.00 to 17.00
        .room H7-29

.bottom
    .social
        .follow Follow us!
        ul
            li
                .fb
                .count 3556
            li
                .ln
                .count 348 
            li
                .twit
                .count 456 
            li
                .insta
                .count 502 
    
    .contact 
        .location Burgemeester Oudlaan 50
            br 
            | 3062 PA | Rotterdam
            
        .phone +31 010 - 409 13 04
        .mail info@ecestudents.com