footer 
        .social 
            h2 Social Media 
            a(*ngFor="let item of social") {{item.icon}}
                img
        .roadmap
            h2 Roadmap 
            ul
                li(*ngFor="let item of roadmap") 
                    a {{item.link}}
           
        .googlemaps
            h2 Googlemap